@model   List<Models.ViewModels.CourseEventViewModel>


@if (Model != null && Model.Count > 0)
{

    @foreach (var courseEvent in Model)
    {

        @Html.Partial("_EventRow.cshtml", courseEvent.CourseEventRoot);
    }

}
else
{
    <div class="alert alert-danger">
        No class scheduled today
    </div>
}